{
    "overrides": [
        {
            "files": "*",
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": "*.html",
            "options": {
                "printWidth": 140
            }
        }
    ]
}
